.button.action {
    width: 1.5em;
    height: 1.5em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .button.action.increase {
    background: green;
  }
  
  .button.action.decrease {
    background: red;
  }